<div class="wrapper_chat">

<div class="side-bar">
<%= render partial: "room" %>
</div>



  <div class="chat-create">
<div class="chat">
<%= link_to "チャットを作成する", new_room_path %>
</div>
<div class="room_search">
<%= form_with(url:search_chat_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "トークルームを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
</div>
</div>

<div class="room">

  <ul>
   <h1>チャットルーム一覧</h1>
   
    <% @rooms.each do |room| %>
      <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
 

  </ul>
</div>


</div>
