
 <div class= "sub_side_bar">
 
  

 <%if user_signed_in?%>
  <li><%=link_to"TOPページへ",root_path%></li>
  <li><%=link_to "チャットルームへ",chat_rooms_path(current_user.prefecture_now_id) %></li>
  <li><%=link_to "マイページへ",user_path(current_user.id)%></li>
  <li><%= link_to "スケジュール確認/作成",events_path(current_user.prefecture_now_id)%></li>
  <li><%= link_to "新規活動報告",new_tweet_path%></li>
  
  <%= search_form_for p, url: search_tweets_path   do |f| %>
  <%= f.search_field :title_or_text_cont, placeholder: "他の投稿を検索する", class: "search-input" %>
  
  <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: '全ての都道府県'}, {class:"prefecture", id:"user-now-prefecture"} %>
  
  <div><%= f.submit "検索", class: "search-btn" %></div>
<% end %>
<%else%>
<li><%=link_to"TOPページへ",root_path%></li>

 
  <%= search_form_for p, url: search_tweets_path   do |f| %>
  <%= f.search_field :title_or_text_cont, placeholder: "他の投稿を検索する", class: "search-input" %>
  
  <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: '全ての都道府県'}, {class:"prefecture", id:"user-now-prefecture"} %>
  
  <div><%= f.submit "検索", class: "search-btn" %></div>
<% end %>
<%end%>




</div>