
<div class="new_event_main">
<div class="side-bar">
    <%= render partial: "side_bar",locals: {p: @p} %>
  </div>
  <div class="event_color">
<div class="new_event">

<%= form_with(model: @tweet,local: true) do |f| %>
 <%= render 'shared/error', model: f.object %>


  <div class="event_tie">
  <h3>title</h3>
   
    <%= f.text_field :title,class: :event_text %>
  </div>

    <div class="event_time">
    <h3>画像</h3>
    <%= f.file_field :image,class: :event_image %>
  </div>

  <div class="event_sche">
    <h3>活動内容</h3>
    <%= f.text_area :text,class: :event_schedule %>
  </div>


  <div class="sche">
    <%= f.submit %>
  </div>

<% end %>
  </div>
  </div>
  </div>