<div class="main">
  <div class="inner">
    
   <div class="ok">
   <h3>マイページ</h3>
  <%= link_to "","#",class:"my-account"%>
  </div>
  <div class="ok">
  <h3>活動報告</h3>
  <%= link_to "",new_tweet_path,class:"another-active"%>
  </div>
  </div>
  <%if user_signed_in?%>
  <div class="inner_2">
  <div class="ok chatt">
  <h3>チャットルーム</h3>
  <%= link_to "",chat_rooms_path(current_user.prefecture_now_id),class:"active-room"%> 
  </div>
  </div>
  <%end%>
  <div class="prefecture_tweet">
  <div class="tweet_show">
  活動情報(都道府県をクリックしてください)
  </div>
  <p>
  <%= link_to "北海道",tweet_path(2)%>
  <%= link_to "青森県",tweet_path(3)%>
  <%= link_to "岩手県",tweet_path(4)%>
  <%= link_to "宮城県",tweet_path(5)%>
  <%= link_to "秋田県",tweet_path(6)%>
  <%= link_to "山形県",tweet_path(7)%>
  <%= link_to "福島県",tweet_path(8)%>
  <%= link_to "茨城県",tweet_path(9)%>
  <%= link_to "栃木県",tweet_path(10)%>
  <%= link_to "群馬県",tweet_path(11)%>
  <%= link_to "埼玉県",tweet_path(12)%>
  <%= link_to "千葉県",tweet_path(13)%>
  <%= link_to "東京都",tweet_path(14)%>
  <%= link_to "神奈川県",tweet_path(15)%>
  <%= link_to "新潟県",tweet_path(16)%>
  <%= link_to "富山県",tweet_path(17)%>
  <%= link_to "石川県",tweet_path(18)%>
  <%= link_to "福井県",tweet_path(19)%>
  <%= link_to "山梨県",tweet_path(20)%>
  <%= link_to "長野県",tweet_path(21)%>
  <%= link_to "岐阜県",tweet_path(22)%>
  <%= link_to "静岡県",tweet_path(23)%>
  <%= link_to "愛知県",tweet_path(24)%>
  <%= link_to "三重県",tweet_path(25)%>
  <%= link_to "滋賀県",tweet_path(26)%>
  <%= link_to "京都府",tweet_path(27)%>
  <%= link_to "大阪府",tweet_path(28)%>
  <%= link_to "兵庫県",tweet_path(29)%>
  <%= link_to "奈良県",tweet_path(30)%>
  <%= link_to "和歌山県",tweet_path(31)%>
  <%= link_to "鳥取県",tweet_path(32)%>
  <%= link_to "島根県",tweet_path(33)%>
  <%= link_to "岡山県",tweet_path(34)%>
  <%= link_to "広島県",tweet_path(35)%>
  <%= link_to "山口県",tweet_path(36)%>
  <%= link_to "徳島県",tweet_path(37)%>
  <%= link_to "香川県",tweet_path(38)%>
  <%= link_to "愛媛県",tweet_path(39)%>
  <%= link_to "高知県",tweet_path(40)%>
  <%= link_to "福岡県",tweet_path(41)%>
  <%= link_to "佐賀県",tweet_path(42)%>
  <%= link_to "長崎県",tweet_path(43)%>
  <%= link_to "熊本県",tweet_path(44)%>
  <%= link_to "大分県",tweet_path(45)%>
  <%= link_to "宮崎県",tweet_path(46)%>
  <%= link_to "鹿児島県",tweet_path(47)%>
  <%= link_to "沖縄県",tweet_path(48)%>
  </p>
 </div>


  
  
  <div class="wrapper"> 
  <footer>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SecondHouseについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'SecondHouse利用規約', "#", class: "footer-link" %></li>
        
      </ul>
    </div>
    
    <div class='furima-details'>
      <h2 class='footer-content-head'>アナウンス</h2>
      <ul>
        <li><%= link_to 'SecondHouseガイド', "#", class: "footer-link" %></li>
        
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  
  <p>© SecondHouse</p>
 </footer>
 </div>   

</div>