<div class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <%= render partial: 'tweet', collection: @tweets %>
      

    <%# // ログインしているときは上記を表示する %>
    
  </div>
  <div class="wrapper"> 
  <footer>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SecondHouseについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'SecondHouse利用規約', "#", class: "footer-link" %></li>
        
      </ul>
    </div>
    
    <div class='furima-details'>
      <h2 class='footer-content-head'>アナウンス</h2>
      <ul>
        <li><%= link_to 'SecondHouseガイド', "#", class: "footer-link" %></li>
        
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  
  <p>© SecondHouse</p>
 </footer>
 </div>   

</div>