<div class="main">
  <div class="inner">
    
   <div class="ok">
   <h3>マイページ</h3>
  <%= link_to "","#",class:"my-account"%>
  </div>
  <div class="ok">
  <h3>活動報告</h3>
  <%= link_to "",new_tweet_path,class:"another-active"%>
  </div>
  
  <%if user_signed_in?%>
  <div class="ok">
  <h3>チャットルーム</h3>
  <%= link_to "",rooms_path(current_user.prefecture_now_id),class:"active-room"%> 
  </div>
  <%end%>
  <div class="ok">
  <h3>活動情報</h3>
  <%= link_to "","#",class:"active-room"%> 

  </div>
  </div>
  <div class="wrapper"> 
  <footer>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SecondHouseについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'SecondHouse利用規約', "#", class: "footer-link" %></li>
        
      </ul>
    </div>
    
    <div class='furima-details'>
      <h2 class='footer-content-head'>アナウンス</h2>
      <ul>
        <li><%= link_to 'SecondHouseガイド', "#", class: "footer-link" %></li>
        
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  
  <p>© SecondHouse</p>
 </footer>
 </div>   

</div>