<div class ="wrapper">
<div class="side-bar">
 <%= render partial: "side_bar",locals: {p: @p} %>
</div>
<div class="tweet_show_all">
 <div class ="tweet_title">
 <%="Title:#{@tweet.title}"%>
 </div>
 <div class="tweet_image">
 <%= image_tag @tweet.image,size: "500x400" %>
 </div>
 <div class="tweet_text">
    <span class="box-title">投稿者から一言</span>
<p><%=@tweet.text%></p>
</div>

        <% if user_signed_in? %>
          <%= form_with model: [ @tweet,@comment], local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <p> <%="コメント一覧" %> </p>
        <blockquote>
        
          <% @comments.each do |comment| %>
            
             
             <p> <%=  comment.user.nickname%>:<%=comment.text %> </p>
            
          <% end %>

            

        </blockquote>

        <% if user_signed_in? && current_user.id == @tweet.user_id %>
      
        <div class="prototype__manage">
          <%= link_to "編集する", edit_tweet_path(@tweet), class: :prototype__btn %>
          <%= link_to "削除する", tweet_path(@tweet), method: :delete, class: :prototype__btn %>
        </div>
        <%end%>
      </div>
      </div>