<div class="user_page">
<div class="side-bar">
    <%= render partial: "tweets/side_bar",locals: {p: @p} %>
  </div>
<div class="user_profile">
<h1><%="#{@user.nickname}さんのプロフィール"%>
<ul class="my_page">
  <li><%= "ニックネーム:#{@user.nickname}"%></li>
  <li><%= "メールアドレス:#{@user.email}"%></li>
  <li><%= "苗字:#{@user.last_name}"%></li>
  <li><%= "名前:#{@user.first_name}"%></li>
  <li><%= "出身地:#{@user.prefecture.name}"%></li>
  <li><%= "出身地:#{@user.prefecture_now.name}"%></li>
</ul>
<%=link_to"プロフィール更新",edit_user_path(current_user),class:"user_edit"%>
</div>
</div>