
<div class="new_event_main">
<div class="side-bar">
    <%= render partial: "side_bar" %>
  </div>
  <div class="event_color">
<div class="new_event">
<h1 class="new_event_post">イベント投稿</h1>
<%= form_with(model: @event,url:events_path, local: true) do |f| %>
 <%= render 'shared/error', model: f.object %>


  <div class="event_tie">
  <h3>title</h3>
   
    <%= f.text_field :title,class: :event_text %>
  </div>

    <div class="event_time">
    <h3>日時</h3>
    <%= f.datetime_field :start_time,class: :event_date %>
  </div>

  <div class="event_sche">
    <h3>活動内容</h3>
    <%= f.text_area :content,class: :event_schedule %>
  </div>


  <div class="sche">
    <%= f.submit %>
  </div>

<% end %>
  </div>
  </div>
  </div>