

<%= form_with(model: @event,url:chat_room_events_path, local: true) do |form| %>

<div class="new_event">
  <div class="event_tie">
  <h3>title</h3>
   
    <%= form.text_field :title,class: :event_text %>
  </div>

    <div class="event_time">
    <h3>日時</h3>
    <%= form.datetime_field :start_time,class: :event_date %>
  </div>

  <div class="event_sche">
    <h3>活動内容</h3>
    <%= form.text_area :content,class: :event_schedule,rows: "10" %>
  </div>


  <div class="sche">
    <%= form.submit %>
  </div>

  </div>
  

<% end %>