<div class="event_show ">
<div class="side-bar">
    <%= render partial: "side_bar" %>
  </div>
  <div class="main_bar">
  <h1>活動予定</h1>
<ul class="event_show_page">
  <li><span>タイトル</span>:<%= @event.title%></li>
  <li><span>開始時間</span>:<%= @event.start_time%></li>
    <li><span>活動内容</span>:<%= @event.content%></li>
  
</ul>
  <div class="event_edit_destroy">
   <% if user_signed_in? && current_user.id == @event.user_id %>
  <%= link_to "編集する", edit_event_path(@event) %>
  <%= link_to "削除する", event_path(@event), method: :delete,data: { confirm: '予定を削除しますか？' }  %>
  <%end%>
</div>
</div>
</div>

