<div class="line_room">


<div class="side-bar">
<%= render partial: "chat_rooms/room" %>
</div>


<div class="line-bc">
<div class="line__title">
<h1><%= @room.name%></h1>
</div>
<% if @messages!=nil%>
   <div id='messages' data-room_id="<%= @room.id %>">
     <%= render partial: "messages/message",collection: @messages,as: :message,locals: {current_user:current_user} %>
 </div>
  


  <%end%>
  <form>
 <div class="say">
<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
</div>
  </form>

  
</div>

<div class="room">

  <ul>
   <h1>チャットルーム一覧</h1>
    <% @rooms.each do |room| %>
      <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
 

  </ul>
</div>

</div>

