
<div class="line__title">
<h1><%= @room.name%></h1>
</div>

<div class="line-bc">
<% if @messages!=nil%>
   <div id='messages' data-room_id="<%= @room.id %>">
     <%= render @messages %>
 </div>
  


  <%end%>
  <form>
 <div class="say">
<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
</div>
  </form>

  
</div>


