<!DOCTYPE html>
<html>
  <head>
    <title>SecondHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  </head>


  <body>
  <div class= "test">
   <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <h1><a href="/">SecondHouse</a></h1>
          </div>
            
            <%if user_signed_in?%>
            <div class="nav__right">
            <span>
              <%="こんにちは、#{current_user.nickname}さん"%>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              
              
             </span>
            </div> 
         
             <%else%>            
            <div class="nav__right">

              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
         <%end%>
        
        </div>
      </div>
      
    </header>
   </div>

    
    


    <%= yield %>

    <footer class="footer">
      <p class="copyright">Copyright © Second House All rights reserved.</p>
    </footer>
    </div>
    
  </body>
</html>
